{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Story 9 : Muhammad Fathan M</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a class="navbar-brand text-success" href="{% url 'story_9:index' %}">Fathan M</a>
        <div>
            <a href="{% url 'story_9:login' %}"><button class="btn btn-success">Login</button></a> 
        </div>
    </nav>
    <div class="container" style="display: flex; justify-content: center;">

      <div class="form-group" >
        <form method="POST" class="register-form">
          {%csrf_token%}
          <div role="alert">
            <p>Username:</p>
            {{form.username}}
            <p>Email:</p>
            {{form.email}}
            <p>Password:</p>
            {{form.password1}}
            <p>Confirm Password:</p>
            {{form.password2}}
          </div>
          <div class="form-submit">
            <input type="submit" value="Create Account" class="btn btn-success"/>
          </div>
        </form>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>