{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Story: Muhammad Fathan Muthahhari</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
      <div class="container px-4">
        <a class="navbar-brand" href="#">M Fathan M</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kegiatan:tambah' %}">Add Kegiatan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'kegiatan:list' %}">List Kegiatan</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <h1 class="m-4">List Kegiatan</h1>
      <div class="d-flex flex-wrap">
        {% if kegiatans %}
            {% for kegiatan in kegiatans%}
            <div class="card m-4" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{kegiatan.0.nama}}</h5>
                <p>Deskripsi: {{kegiatan.0.deskripsi}}</p>
                {% if kegiatan.1 %}
                <p>Peserta:</p>
                <ul>
                  {% for peserta in kegiatan.1 %}
                  <li>{{peserta.nama}}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                <hr>  
                <p>Ikutan dong!</p>
                <form action="{% url 'kegiatan:list'%}" method="POST" class="form-group">
                  {% csrf_token %}
                  <input type="hidden" name="id_kegiatan" value="{{kegiatan.0.id}}">
                  <p>Siapa nama kamu?</p>
                  <p>{{orang_form.nama_orang}}</p>
                  <button type="submit" class="btn btn-primary">Ikut</button>
                </form>
              <a href="{% url 'kegiatan:delete' id=kegiatan.0.id %}" class="btn btn-danger">Delete</a>
              </div>
            </div>
            {% endfor %}
        {% endif %}
      </div>
    </div>

    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
    ></script>
    <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"
    ></script>
</body> 
</html>
